@font-face {
	font-family: "JIIcons";
	src: url('./fonts/JIIcons.eot');
	src: url('./fonts/JIIcons.eot?#iefix') format('eot'),
		url('./fonts/JIIcons.woff2') format('woff2'),
		url('./fonts/JIIcons.woff') format('woff'),
		url('./fonts/JIIcons.ttf') format('truetype'),
		url('./fonts/JIIcons.svg#JIIcons') format('svg');
}

.ji-icon:before {
	font-family: "JIIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
  content: "\E001";
}


.ji-jii-logo:before {
	content: "\E001";
}

.ji-select-text:before {
	content: "\E002";
}

.ji-bot:before {
	content: "\E003";
}

.ji-minimize:before {
	content: "\E004";
}

.ji-up-right-arrow-in-square:before {
	content: "\E005";
}

.ji-down-right-arrow-in-square:before {
	content: "\E006";
}

.ji-down-left-arrow-in-square:before {
	content: "\E007";
}

.ji-up-left-arrow-in-square:before {
	content: "\E008";
}
